<div class="field is-bordered">
  <div class="columns">
    <div class="column">
      <app-card
        [name]="cardForm.controls.name.value"
        [cardNumber]="cardForm.controls.cardNumber.value"
        [expiration]="cardForm.controls.expiration.value"
      ></app-card>
    </div>
    <div class="column">
      <form [formGroup]="cardForm" (ngSubmit)="onSubmit()" >
        <app-form-input
          [control]="cardForm.controls.name"
          [label]="'Name'"
          [id]="'nameInput'"
          [type]="'text'"
        ></app-form-input>
        <app-form-input
          [control]="cardForm.controls.cardNumber"
          [label]="'Card Number'"
          [id]="'cardNumber'"
          [type]="'text'"
          [mask]="'0000-0000-0000-0000'"
        ></app-form-input>
        <div class="columns">
          <div class="column">
            <app-form-input
              [control]="cardForm.controls.expiration"
              [label]="'Expiration (MM/DD)'"
              [id]="'expiration'"
              [type]="'text'"
              [mask]="'00/00'"
            ></app-form-input>
          </div>
          <div class="column">
            <app-form-input
              [control]="cardForm.controls.securityCode"
              [label]="'Security Code'"
              [id]="'securityCode'"
              [type]="'text'"
            ></app-form-input>
          </div>
        </div>
        <div class="buttons">
          <button type="submit" [disabled]="!cardForm.valid" class="button is-primary" >Submit</button>
          <button type="button"  class="button is-warning mx-3" (click)="resetForm()"  >Reset</button>
        </div>
      </form>
    </div>
  </div>
</div>
